<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="frame frame-default frame-type-list frame-layout-3">
    <header>
        <h2>Seminartermine</h2>
    </header>
    <ul class="eventlist" {f:if(condition:"{schema} == 'true'", then: 'rel="hasCourseInstance"')}>
        <f:for each="{events->v:iterator.sort(order: 'ASC', sortBy: 'date')}" as="event" iteration="iterator">
            <li class="event" {f:if(condition:"{schema} == 'true'", then: 'typeof="CourseInstance" resource="#Event-{event.uid}"')}>
                <div class="event__dateicon">
                    <span class="month"><f:format.date format="%b">{event.date}</f:format.date></span>
                    <span class="day"><f:format.date format="%e">{event.date}</f:format.date></span>
                </div>
                <div class="event__body">
                    <h3 class="event__title" {f:if(condition: "{schema} == 'true'", then: 'property="name"')}>
                        {event.title}
                    </h3>
                    <div class="event__date">
                        Wann:
                        <span>
                            <f:if condition="{schema} == 'true'">
                                <f:then>
                                    <meta property="startDate" content="{f:format.date(format:'2017-08-29T11:54:07%Y-%m-%dT%H:%M %Z', date: '{event.date}')}"/>
                                </f:then>
                            </f:if>
                            <f:format.date format="%d.%m.%Y – %H:%M">{event.date}</f:format.date>
                        </span>
                        Uhr
                    </div>
                    <div class="event__location" {f:if(condition:"{schema} == 'true'", then: 'property="location" typeof="Place"')}>
                        Ort:
                        <f:if condition="{schema} == 'true'">
                            <f:then>
                                <f:link.action action="show" pluginName="seminars" controller="Location" arguments="{location: event.location}" pageUid="261" title="{event.location.street}, {event.location.postalCode} {event.location.locality}" additionalAttributes="{property: 'url'}">
                                    <span property="name">{event.location.title}</span>
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <f:link.action action="show" pluginName="seminars" controller="Location" arguments="{location: event.location}" pageUid="261" title="{event.location.street}, {event.location.postalCode} {event.location.locality}">
                                    {event.location.title}
                                </f:link.action>
                            </f:else>
                        </f:if>
                        <f:if condition="{schema} == 'true'">
                            <f:then>
                                <meta property="address" content="{event.location.street}, {event.location.postalCode} {event.location.locality}">
                            </f:then>
                        </f:if>
                    </div>
                    <div class="event__button">
                        <f:if condition="{hideButtons} != 'true'">
                            <f:if condition="{schema} == 'true'">
                                <f:then>
                                    <f:link.action action="show" pluginName="seminars" controller="Seminar" additionalAttributes="{property: 'url'}"
                                                   arguments="{seminar : event.seminar}" pageUid="261">
                                        Mehr Infos und Anmeldung
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="show" pluginName="seminars" controller="Seminar" arguments="{seminar : event.seminar}" pageUid="261">
                                        Mehr Infos und Anmeldung
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </f:if>
                    </div>
                </div>
            </li>
        </f:for>
    </ul>
</div>
</html>