<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <header>
        <h2>Series-registration-dates</h2>
    </header>
    <p>Latest date to register</p>
    <ul class="eventlist">
        <f:groupedFor each="{series->v:iterator.sort(order: 'ASC', sortBy: 'registrationDate')}" as="seminarSeries" groupBy="seminar">
            <f:for each="{seminarSeries}" as="serie" iteration="serieIterator">
                <f:if condition="{serieIterator.isFirst}">
                    <f:if condition="{serie.events->f:count()} > 0">
                        <f:then>
                            <f:for each="{serie.events->v:iterator.sort(order: 'ASC', sortBy: 'date')}" as="event" iteration="eventIterator">
                                <f:if condition="({event.date->f:format.date(format:'Ymd')} >= {f:format.date(date:'', format:'Ymd')} && {eventIterator.isFirst})">
                                    <f:render partial="Event/ItemStandalone" arguments="{event: event}"/>
                                </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            <p>No Dates</p>
                        </f:else>
                    </f:if>
                </f:if>
            </f:for>
        </f:groupedFor>
    </ul>
</f:section>
</html>