<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <nav title="">
        <ul class="seminarList">
            <f:groupedFor each="{seminars->v:iterator.sort(order: 'ASC', sortBy: 'uid')}" as="seminarsBySection" groupBy="section.title"
                          groupKey="section">
                <li class="seminarList__section">
                    <span>{section}</span>
                    <ul>
                        <f:groupedFor each="{seminarsBySection->v:iterator.sort(order: 'ASC', sortBy: 'category.title')}" as="seminarsBySectionByCategory" groupBy="category.title" groupKey="category">
                            <li class="seminarList__category">
                                <span role="button" tabindex="0">{category}</span>
                                <ul>
                                    <f:groupedFor each="{seminarsBySectionByCategory}" as="seminarsBySectionByCategoryByType" groupBy="type.title" groupKey="type">
                                        <li class="seminarList__type">
                                            <span>{type}</span>
                                            <ul>
                                                <f:for each="{seminarsBySectionByCategoryByType}" as="seminar">
                                                    <li class="seminarList__item">
                                                        <f:link.action action="show" arguments="{seminar : seminar}" pageUid="261">{seminar.title}</f:link.action>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </li>
                                    </f:groupedFor>
                                </ul>
                            </li>
                        </f:groupedFor>
                    </ul>
                </li>
            </f:groupedFor>
        </ul>
    </nav>
    <f:flashMessages/>
</f:section>
</html>