<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/Streit/streit_ext_viewhelper/ViewHelpers"
      data-namespace-typo3-fluid="true">
<aside class="sidebarColumn column column--one">
    <section class="sidebarSection">
        <f:debug>{seminar}</f:debug>
        <f:render partial="Seminar/Properties" arguments="{seminar: seminar, schema: 'true'}"/>
        <f:debug>({seminar.series -> f:count()} > 0)</f:debug>
        <f:if condition="({seminar.series -> f:count()} > 0)">
            <f:render partial="Series/List" arguments="{series: seminar.series, schema: 'true', hideButtons: 'true'}"/>
        </f:if>
    </section>
</aside>
</html>